.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid rgb(54, 165, 56);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

#rectangle {
  height: auto;
  width: 200px;
  padding: 20px;
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: orangered;
  color: #fff;
  text-align: center;
}
